<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>申请列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">管理员管理</a>
        <a>
          <cite>申请列表</cite></a>
      </span>
</div>

<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 we-search">
            <div class="layui-inline">
                <input class="layui-input" placeholder="开始日" name="start" id="start">
            </div>
            <div class="layui-inline">
                <input class="layui-input" placeholder="截止日" name="end" id="end">
            </div>
            <div class="layui-inline">
                <input type="text" name="username" placeholder="请输入用户名" autocomplete="off"
                       class="layui-input">
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>
            </button>
        </form>
    </div>

    <table id="appDbList" lay-filter="eventFilter"></table>
</div>
<script src="/static/layui/layui.js" charset="utf-8"></script>

<!-- 操作按钮 -->
<script type="text/html" id="barDemo">
    {{#  if(d.status == 0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="yes">通过</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="no">拒绝</a>
    {{#  } }}

    {{#  if(d.status == 1){ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled" lay-event="yes">已通过</a>
    {{#  } }}

    {{#  if(d.status == 2){ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled" lay-event="check">已拒绝</a>
    {{#  } }}
</script>

<script>
    // 面包屑导航需要加载element模块
    layui.use('element', function () {
        //需要依赖element模块
        var element = layui.element;
        element.init()
    });

    layui.use('table', function () {
        var table = layui.table;
        var $ = layui.$;

        //第一个实例
        table.render({
                         elem: '#appDbList'
                         , url: '/dbinfo/queryApplyInfo' //数据接口
                         , page: true //开启分页
                         , even: true //隔行背景
                         , cols: [
                [{
                    field: 'id', title: 'id'
                }, {
                    field: 'appName', title: '业务简称'
                }, {
                    field: 'platform', title: '业务线'
                }, {
                    field: 'teamName', title: '业务团队'
                }, {
                    field: 'userName', title: '业务联系人'
                }, {
                    field: 'userEmail', title: '联系人邮箱'
                }, {
                    field: 'userPhone', title: '联系人电话'
                }, {
                    field: 'space', title: '申请空间（G）'
                }, {
                    field: 'storeLife', title: '存储时间'
                }, {
                    field: 'applyName', title: '申请提交人'
                }, {
                    field: 'desc', title: '描述'
                }, {
                    fixed: 'right', title: '操作', toolbar: '#barDemo'
                }]
            ]
                     });

        //监听行工具事件
        table.on('tool(eventFilter)', function (obj) {
            console.log(obj)
            var data = {};
            if (obj.event === 'yes') {
                data = {
                    "id": obj.data.id,
                    "status": 1
                }

            } else if (obj.event === 'no') {
                data = {
                    "id": obj.data.id,
                    "status": 2
                }
            }
            $.ajax({
                       url: "/dbinfo/updataApplyInfo",
                       data: JSON.stringify(data),
                       type: "POST",
                       dataType: "JSON",
                       contentType: "application/json",
                       success: function (data) {
                           layer.msg(data.msg, {time: 2000});
                       },
                       error: function (result) {
                           alert(result);
                       }
                   });
        });

    });
</script>
</body>

</html>