<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head>
    <meta charset="UTF-8">
    <title>会员列表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">资源使用</a>
        <a>
          <cite>应用详情</cite></a>
      </span>
</div>

<div class="weadmin-body">
    <blockquote class="layui-elem-quote font16">信息统计</blockquote>
    <div>
        <table class="layui-table">
            <thead>
            <tr>
                <th colspan="2" scope="col">文件存储信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th width="30%">文件总数</th>
                <td><span th:text="${dbDetail.count}"></span></td>
            </tr>
            <tr>
                <td>磁盘占用</td>
                <td><span th:text="${dbDetail.storageSize}"></span></td>
            </tr>
            <tr>
                <td>昨日新增</td>
                <td><span th:text="${dbDetail.yesterDayCount}"></span></td>
            </tr>
            <tr>
                <td>最早上传</td>
                <td><span th:text="${dbDetail.earliest}"></span></td>
            </tr>
            <tr>
                <td>存储策略</td>
                <td>TODO</td>
            </tr>
            </tbody>
        </table>
    </div>

    <blockquote class="layui-elem-quote font16">信息统计折线图</blockquote>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 100%;height:400px;"></div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="//cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['文件数量']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '文件总量',
                type: 'line',
                data: []
            }
        ]
    };

    myChart.showLoading();
    //通过Ajax获取数据
    var dbName = $("#dbName").val();
    $.ajax({
               type: "post",
               async: true, //异步执行
               url: "/dbinfo/loadChartData/" + dbName,
               dataType: "json", //返回数据形式为json
               success: function (json) {

                   if (json) {
                       myChart.hideLoading();
                       option.xAxis.data = json.result.xAxis;
                       option.series[0].data = json.result.series;
                       // 使用刚指定的配置项和数据显示图表。
                       myChart.setOption(option);
                   }
               },
               error: function (errorMsg) {
                   alert("请求数据失败");
               }
           });


</script>
</body>

</html>