<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head>
    <meta charset="UTF-8">
    <title>会员列表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">资源使用</a>
        <a>
          <cite>应用列表</cite></a>
      </span>
</div>

<div id="testText">
    <span th:text="${topicPage}"></span>
</div>

<div class="weadmin-body">
    <table id="appDbList" lay-filter="eventFilter"></table>
</div>
<!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/static/layui/layui.js" charset="utf-8"></script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看详情</a>
</script>

<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
                         elem: '#appDbList'
                         , url: '/dbinfo/queryInfo' //数据接口
                         , page: true //开启分页
                         , even: true //隔行背景
                         , cols: [
                [{
                    field: 'autoInc', title: 'id', width: 80, type: 'numbers'
                }, {
                    field: 'dbName', title: 'app'
                }, {
                    field: 'appOwner', title: '业务负责人'
                }, {
                    field: 'dataSize', title: '数据占用'
                }, {
                    field: 'storageSize', title: '磁盘占用'
                }, {
                    fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150
                }]
            ]
                     });

        //监听行工具事件
        table.on('tool(eventFilter)', function (obj) {
            var data = obj.data;
            console.log(obj)
            if (obj.event === 'detail') {
                window.location.href = "/dbinfo/dbDetail/"+data.dbName;
                console.log("查看详情")
            }
        });

    });


</script>
</body>

</html>